[Unit]
Description=MrLogin - Display Manager for MrRobotOS
After=systemd-user-sessions.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/bin/sh -c 'Xorg :0 vt1 -nolisten tcp & sleep 2 && DISPLAY=:0 /usr/local/bin/mrlogin'
Restart=always
RestartSec=2
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
Alias=display-manager.service
